<a href="https://colab.research.google.com/github/GeremiccaAndrea/Pandas-Matplotlib/blob/main/PandasGroupBy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
df = pd.read_excel('https://raw.githubusercontent.com/wtitze/3E/main/Teams.xlsx')
df

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

              Name      Discipline                         NOC  Event
0          Belgium  3x3 Basketball                     Belgium    Men
1            China  3x3 Basketball  People's Republic of China    Men
2            China  3x3 Basketball  People's Republic of China  Women
3           France  3x3 Basketball                      France  Women
4            Italy  3x3 Basketball                       Italy  Women
..             ...             ...                         ...    ...
738   South Africa      Water Polo                South Africa  Women
739          Spain      Water Polo                       Spain    Men
740          Spain      Water Polo                       Spain  Women
741  United States      Water Polo    United States of America    Men
742  United States      Water Polo    United States of America  Women

[743 rows x 4 columns]

In [ ]:
#numero di squadre italiane 
len(df[(df['Name'] == 'Italy')])

In [ ]:
#numero di squadre tedesche
len(df[(df['Name'] == 'Germany')])

In [ ]:
#quante sono le squadre di ogni nazione 
dfgroup = df.groupby('Name').count()[['NOC']]

In [ ]:
#nazioni che hanno più di 10 squadre 
dfgroup[dfgroup['NOC'] > 10]

In [ ]:
dfgroup = df.groupby('Name').count().reset_index()[['NOC']]
dfgroup

Esercizi: 
1. il numero di film per ogni lingua. Ordinare in ordine decrescente sul numero di film

2. il numero di film per ogni nazione.

3. il budget totale che ogni nazione ha investito nei film. Ordinare in ordine decrescente base al budget totale

4. la nazione che ha investito il budget più alto

5. il budget medio che ogni nazione ha investito nei film. Ordinare in ordine decrescente base al budget medio

6. le nazioni che hanno investito, in media, un budget più basso rispetto alla media complessiva dei budget delle nazioni

7. il numero di film per ogni regista

8. il regista che ha diretto più film

9. il numero di film per ogni genere

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/wtitze/3E/main/2010.csv' , sep = ';') 
df

In [ ]:
#il numero di film per ogni lingua. Ordinare in ordine decrescente sul numero di film
dfgroup = df.groupby('Language').count().sort_values(by =['Title'], ascending = False)[['Title']]
dfgroup

In [ ]:
#il numero di film per ogni nazione. Ordinare in ordine decrescente
dfgroup = df.groupby('Country').count().sort_values(by =['Title'], ascending = False)[['Title']]
dfgroup

In [ ]:
#il budget totale che ogni nazione ha investito nei film. Ordinare in ordine decrescente base al budget totale
dfgroup = df.groupby('Country').sum().sort_values(by =['Budget'], ascending = False)[['Budget']]
dfgroup

In [ ]:
#la nazione che ha investito il budget più alto
dfgroup[dfgroup['Budget'] == dfgroup['Budget'].max()]

In [ ]:
#il budget medio che ogni nazione ha investito nei film. Ordinare in ordine decrescente base al budget medio
df.groupby ('Country')[['Budget']].mean().sort_values(by =['Budget'], ascending = False)

In [ ]:
#le nazioni che hanno investito, in media, un budget più basso rispetto alla media complessiva dei budget delle nazioni
mediaperfilm = df['Budget'].mean()
mediaperfilm

In [ ]:
mediapernazione = df.groupby('Country')[['Budget']].mean()
mediapernazione

In [ ]:
mediapernazione[mediapernazione['Budget'] < mediaperfilm]

In [ ]:
#il numero di film per ogni regista
dfgroup = df.groupby('Director').count()[['Title']]
dfgroup

In [ ]:
#il regista che ha diretto più film
dfgroup['Title'].max() 
dfgroup[dfgroup['Title']== dfgroup['Title'].max()]

In [ ]:
#il numero di film per ogni genere
dfgroup = df.groupby('Genres').count()[['Title']]
dfgroup